.MuiButton-label {
    color: $secondary;
}


.MuiButton-root:focus {
    border-color: $secondary;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    color: $secondary;
    border-color: $secondary;
}

.custom-password-checklist li {
    align-items: center;
}